@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@300;400;500&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}


header {
  height: 95vh;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.78),
      rgba(0, 0, 0, 0.78)),
    url("/img/header.jpg");
  background-size: cover;
  background-position: top;
}



nav {
  height: 10vh;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hero-block {
  width: 100vw;
  height: 80vh;
  font-family: 'Courgette', cursive;
}

.hero-block img {
  animation: moveDown 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.hero-block h1 {
  animation: moveRight 1s ease-out;
}

.hero-block h3 {
  animation: moveLeft 1s ease-out;
}

h3,
.h6 {
  font-family: 'Courgette', cursive;
}

.card {
  outline: none;
}

.card img {
  border-radius: 10px;
}

footer {
  background-color: black;
}

@keyframes moveRight {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}