.header {
  height: 80vh;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)),
    url("../img/team/team.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero-box {
  height: 70vh;
}

.inner-box h3 {
  animation: moveLeft 1s ease-out;
}

.rounded-circle {
  max-width: 250px;
  max-height: 250px;
}